html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  background-color: black;
}

#root {
  height: 100%;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

.mouse-overlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 600px;
  height: 600px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 10%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: background-position 0.1s;
}
